/* custom CSS */
:root {
    
    /* colori */
    --blue: #0070D1;
    --darkBlue: #161C3B;
    --footerBlue: #00439C;
    --grey1: #bbb;
    --grey2: #999;
    --grey3: #ddd;
    --white: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

._obj-fit {
    object-fit: contain;
}

a, a:hover {
    text-decoration: none;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}






/* header */
header {
    background-color: var(--white);
}

header ._htop {
    background-color: black;
    height: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0.5rem;
    align-items: center;
}

header ._htop img {
    height: 1rem;
    display: block;
}

header .container-fluid {
    background-color: var(--white);
}

header .navbar {
    height: 4.5rem;
}

header nav .logo {
    height: 3rem;
}

header #navbarNavDropdown {
    justify-content: space-between;
}

header ._icn-search {
    height: 1.5rem;
}

header ._ps-icon {
    height: 4rem;
}

header ._ps-icon-link {
    display: block;
    text-align: center;
}

header ._link-news::before {
    content: "\f111";
    font-family: "Font Awesome 6 Free";
    font-size: 0.3rem;
    font-weight: 900;
    color: var(--blue);
    vertical-align: middle;
    margin-right: 0.5rem
}

header ul li.list-group-item a {
    box-shadow: none;
    background-color: transparent;
    transition: box-shadow 0.2s;
}

header ul li.list-group-item a:hover {
    background-color: transparent;
    box-shadow: 0 0 0.25rem #00000080;
}






/* main */
main {
    margin-top: 6.1rem;
}






/* jumbotron */
#jumbotron {
    height: 700px;
    background-image: url("../img/jumbo-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbotron .container,
#jumbotron div.row {
    height: 100%;
}

#jumbotron img {
    width: 16rem;
}

#jumbotron h1 {
    font-size: 3rem;
}






/* sezione 1 */

#section-1 ._active {
    border: 2px var(--blue) solid;
}

#section-1 img {
    border-radius: 1rem;
    transform: translate(0, 0);
    transition: transform 0.3s;
}

#section-1 img:hover {
    transform: translate(0, -8%);
    cursor: pointer;
}






/* sezione 2 */
#section-2 button {
    border-radius: 0;
}

#section-2 ._active {
    border-bottom: 2px var(--blue) solid;
}

#section-2 ._thumbs .col:not(._active) {
    opacity: 0.75;
    transition: opacity 0.2s;
}

#section-2 ._thumbs .col:hover {
    opacity: 1;
}





/* sezione 3 */
#section-3 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-3 img {
    max-width: 14em;
}






/* sezione 4 */
#section-4 {
    background-color: #333;
}

#section-4 article img {
    border-radius: 1rem;
}






/* sezione 6 */
#section-6 {
    background-color: var(--grey2);
}

#section-6 .logo,
#section-8 .logo {
    max-width: 16rem;
}

#section-6 a {
    background-color: var(--grey3);
    color: var(--blue);
}

#section-6 a:hover {
    background-color: var(--grey1);
    color: var(--blue);
}






/* sezione 8 */
#section-8 {
    background-color: var(--darkBlue);
}






/* sezione 9 */
#section-9 .row {
    max-width: 35rem;
}






/* footer */
footer {
    background-color: var(--footerBlue);
}

footer ._sonyLogo {
    width: 6rem;
}